*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%

.container
    background-color: #F7F7F7

body
    padding: 5rem
    background-color: $color-white