.title-first
    &__main
        display: block
        font-weight: 800
        font-size: 5rem
        line-height: 6rem
        letter-spacing: 1rem
        color: #FFFFFF
        text-transform: uppercase
        margin-bottom: 1rem
        animation-name: leftToRight
        animation-duration: 2s
        animation-timing-function: ease
        backface-visibility: hidden
    &__secondary
        display: block
        font-weight: 300
        font-size: 4rem
        line-height: 4.8rem
        letter-spacing: .5rem
        color: #FFFFFF
        animation-name: rightToLeft
        animation-duration: 2s
        animation-timing-function: ease
        backface-visibility: hidden
        margin-bottom: 6.5rem

body
    font-family: "Lato", sans-serif
    font-weight: 400
    color: $color-gray
    font-size: $font-size-paragraph
    letter-spacing: .2rem

.title-secondary
    text-align: center
    display: inline-block
    font-size: $font-size-paragraph-h2
    letter-spacing: 1rem
    text-transform: uppercase
    font-weight: 800
    background: linear-gradient(90deg, rgba($color-brown-light, 0.70) 0%, rgba($color-brown-dark, 0.70) 100%)
    -webkit-background-clip: text 
    color: transparent 
    transition: all .4s
    backface-visibility: hidden
    &:hover 
        transform: skewY(2deg) skewX(15deg) scale(1.1)
        text-shadow: $shadow-h2

.title-third
    font-size: $font-size-paragraph-h3
    letter-spacing: .2rem
    text-transform: uppercase
    font-weight: 700 

.paragraph-about
    font-size: $font-size-paragraph
    letter-spacing: .2rem
    line-height: 140%
    font-weight: 400 


